```css
body {
  margin: 0;
  background-image: url('wp.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  border-style: solid;
  border-width: 60px;
  border-image-source: url("bill1.jpg");
  border-image-slice: 80;
  border-image-repeat: repeat;
  pointer-events: none;
  z-index: 9999;
}

h1 { 
  color: red;
  margin-left: 20px;
}

h2 {
  color: lightcoral;
  font-size: 5px;
}

p {
  color: pink;
  margin-left: 15px;
}
```
