body {
  margin: 0;
  background-image: url('/assets/squillyaoi.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


h1 { 
  color: lightcoral;
  font-size: 20px;
}

h2 {
  color: lightcoral;
  font-size: 20px;
}

p {
  color: pink;
  margin-left: 50px;
}

  
div {
  background-color: grey;
  width: 500px;
  padding: 25px;
  margin: 300px;
  border: 2px solid lightcoral
}
